
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Snach Farmbiz</a>
          </div>
          <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
    
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Profile" name="profile">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
    
            </form>
          </div>
    
      <div class="col-sm-6 col-md-6">
                
        <ul>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                    aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{%url 'index'%}">Home</a>
                    </li>
                    <li>
                        <a href="{%url 'prodcts'%}">add product</a>
                    </li>
                    <li>
                        <a href="/accounts/password/change">Change Password</a>
                    </li>

                    <li>
                        <a href="/accounts/logout/">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <li>
            <a class="btn btn-default" href='/accounts/signup/'>Sign Up</a>
        </li>
        <li>
            <a class='btn btn-default' href="/accounts/login/">Login</a>
        </li>
        
    </div>

    </form>
</div>
<!-- search form end -->
</div>
</nav>